@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using CryptoAddressStorage.Models.Entities
@using CryptoAddressStorage.Services
@using CryptoAddressStorage.Helpers
@inject SignInManager<IdentityUser> SignInManager
@inject ISiteRepository repo
@model IEnumerable<CryptoAddress>

<div class="text-center">
    <h1 class="display-4">C-Transfer - @repo.GetTranslation("Home_Index_MainHeader")</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <partial name="Alerts" />
    <div class="header">
        <h2>Your Addresses &nbsp;</h2>
        <a class="btn btn-success" asp-controller="Address" asp-action="New">New Address</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Coin</th>
                <th>Address Type</th>
                <th>Access Level</th>
                <th>Current Balance</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CryptoAddress addy in Model)
            {
                <tr>
                    <td>@addy.Title</td>
                    <td style="max-width:300px; word-wrap: break-word">@addy.PublicKey</td>
                    <td>@addy.Coin</td>
                    <td>@addy.Format</td>
                    @{
                        string accessStyling = "";
                        switch (addy.AccessLevel)
                        {
                            case "Private":
                                accessStyling = "danger";
                                break;

                            case "FriendsOnly":
                                accessStyling = "warning";
                                break;

                            case "Public":
                                accessStyling = "success";
                                break;
                        }

                        <td class="alert-@accessStyling">@addy.AccessLevel</td>
                    }
                    <td>@addy.Balance</td>
                    <td>
                        <a class="btn btn-primary" href="@UrlHelper.Generate(repo.GetSessionLanguage(), "Address", "Edit", addy.Id.ToString())">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
