@using CryptoAddressStorage.Services
@using CryptoAddressStorage.Helpers
@model CryptoAddressStorage.Models.Entities.CryptoAddress
@inject ISiteRepository repo

<h1>Edit address</h1>

<form method="post">
    <label>Currency</label>
    <select asp-controller name="CoinType" asp-items="Html.GetEnumSelectList(typeof(CoinType))" class="dropdown coinDropdown"></select>

    <br />
    <br />

    <label>Address Name</label>
    <input name="Name" type="text" class="addressTitle" />

    <br />
    <br />

    <label>Public Key</label>
    <input name="Address" type="text" class="publicKeyField" style="width:750px" />
    <p class="formatData"></p>

    <label>Access Level</label>
    <select name="AccessLevel" asp-items="Html.GetEnumSelectList(typeof(AccessLevels))" class="dropdown accessDropdown"></select>

    <br />
    <br />

    <button type="submit" class="btn btn-success submitBtn" formaction="@UrlHelper.Generate(repo.GetSessionLanguage(), "Address", "Edit", Model.Id.ToString())">Update</button>
    <a href="@UrlHelper.Generate(repo.GetSessionLanguage(), "Home", "Index")" class="btn btn-warning">Cancel</a>
    <button type="button" class="btn btn-danger deleteButton">Delete Address</button>
    <button type="submit" formaction="@UrlHelper.Generate(repo.GetSessionLanguage(), "Address", "Delete", Model.Id.ToString())" class="btn btn-danger confirmDeleteButton" style="display:none">Confirm delete [CANNOT BE UNDONE]</button>
</form>

<script>
    let publicKeyTextField;
    let formatDataField;
    let addressTitleField;
    let coinDropdown;
    let accessDropdown;
    let submitBtn;
    let deleteBtn;
    let confirmDeleteBtn;
    document.addEventListener('DOMContentLoaded', () =>
    {
        addressTitleField = document.getElementsByClassName("addressTitle")[0];
        publicKeyTextField = document.getElementsByClassName("publicKeyField")[0];
        formatDataField = document.getElementsByClassName("formatData")[0];
        coinDropdown = document.getElementsByClassName("coinDropdown")[0];
        accessDropdown = document.getElementsByClassName("accessDropdown")[0];
        submitBtn = document.getElementsByClassName("submitBtn")[0];
        deleteBtn = document.getElementsByClassName("deleteButton")[0];
        confirmDeleteBtn = document.getElementsByClassName("confirmDeleteButton")[0];

        coinDropdown.value = @ViewBag.SelectedCoin;
        accessDropdown.value = @ViewBag.SelectedAccess;
        addressTitleField.value = "@ViewBag.AddressName";
        publicKeyTextField.value = "@ViewBag.PublicKey";

        publicKeyTextField.addEventListener('input', handleInputChanged)
        coinDropdown.addEventListener('change', handleInputChanged)
        deleteBtn.addEventListener('click', showConfirmDeleteButton)
    })

    function showConfirmDeleteButton()
    {
        document.getElementsByClassName("confirmDeleteButton")[0].style.display = "inline";
    }

    async function handleInputChanged() {
        let fmt = await getFormat();

        submitBtn.disabled = fmt.includes("Unknown");
    }


    async function getFormat() {
        const data = { pkey: publicKeyTextField.value, type: coinDropdown.value }

        let query = encodeQueryData(data);

        let url = "/@repo.GetSessionLanguage()/Address/Format/"+query;

        let formatFromBackend = await fetch(url);

        let formatText = await formatFromBackend.text();
        console.log()
        if (formatText.includes("Unknown")) {
            formatDataField.style.color = "red";
            formatDataField.innerText = "UNKNOWN FORMAT";
        }
        else {
            formatDataField.style.color = "green";
            formatDataField.innerText = "Valid Format: " + formatText;
        }

        return formatText;
    }

    function encodeQueryData(data) {
        const ret = [];
        for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        return ret.join(',');
    }
</script>